@media print {
    body{
        font-family: "Georgia",serif;
        font-size:12px;
        margin-left:50px;
        background-color: #fff;
    }
    h1{
        font-size:22px;
    }
    section > img {
        width:15%;
    }
    
    article > h2{
        font-size:16px;
    }
    a[href^=http]:after {
        content: " (" attr(href) ") ";
      }